.fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 750px;
    margin: 50px auto;
    padding: 20px;
    background-color: #262729;
    border: 2px solid #056ab1;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 1);
}

.form-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
    width: -webkit-fill-available;
    max-width: 650px;
    min-width: 265px;
    margin: 15px auto;
}

.form-title input {
    width: 100%;
    padding: 5px;
    border: 1px solid #0781FE;
    border-radius: 4px;
    font-size: 20px;
}

.cke_notifications_area {
    display: none;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
    width: -webkit-fill-available;
    max-width: 650px;
    min-width: 265px;
    margin: 15px auto;
}

#report_content {
    width: 100%;
    padding: 5px;
    border: 1px solid #0781FE;
    border-radius: 4px;
    font-size: 20px;
}

.btn {
    margin: 15px auto;
}