{% extends 'MonkTraderApp/homepage1.html' %}
{% load static %}

{% block title %}Market Analysis & Reports{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/market_reports.css' %}">
{% endblock %}

{% block content %}
<div id="overview_section">
    <h2>Market Reports</h2>
    <form class="fields" method="POST" action="{% url 'MonkTraderApp:create_market_report' %}">
        {% csrf_token %}
        <div class="form-title">
            <label id="title-label" for="report_title"><strong>Title</strong></label>
            <input type="text" id="report_title" name="title" required>
        </div>
        <div class="form-content">
            <label for="report_content"><strong>Content</strong></label>
            <textarea id="report_content" name="report" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create Report</button>
    </form>
    <div class="report_card-container">
        {% for report in reports %}
        <div class="report_card">
            <div class="title" onclick="toggleReportContent('{{ report.id }}')" style="cursor: pointer;">
                {{ report.title }}
            </div>
            <div id="report-content-{{ report.id }}" class="report-content" style="display: none;">
                <p>{{ report.report|safe }}</p>
                {% if request.user == report.author %}
                <div class="edit-del">
                    <p>Posted {{ report.created_at|date:"jS F, h:i A" }} by <span
                            style="color: #0781FE;">{{report.author.username }}</span></p>
                    <div class="edit-del_btn">
                        <div class="edit_btn">
                            <form method="get" action="{% url 'MonkTraderApp:edit_report' report.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary edit">Edit</button>
                            </form>
                        </div>
                        {% endif %}
                        <div class="del_btn">
                            <form method="POST" action="{% url 'MonkTraderApp:delete_market_report' report.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}